{% block content %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{% static 'img/logoUD.png' %}" class="img-fluid-right logoUD" alt="Responsive image">
    <a class="navbar-brand text-white h1" href="{% url 'barnsley' %}"> Fractales > Helecho de Barnsley</a>
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <ul class="navbar-nav mr-auto">
                    <a class="navbar-brand text-white h1"> Arbol Fractal(En progreso)</a>
                    
                    <a class="navbar-brand text-white h1"> Triángulo de Sierpinski (En progreso)</a>
                    
                    <a class="navbar-brand text-white h1"> Alfombra de Sierpinski (En progreso)</a>
                 
            </ul>
            
        </div>
      </div>
</nav>

{% endblock %}